#root{
  height: 100dvh;
  width: 100dvw;
}
.main-content {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.sidebar {
  background-color: #D3D3D3;
  max-width: 350px;
  height: 100%;
  border-radius: 10px;
}

.sidebar-content {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.icon-text {
  display: flex;
  justify-content: start;
  align-items: center;
}

.row-content {
  display: flex;
  align-items: center;
  gap: 8px;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  flex: 1;
  padding: 16px;
}

.check-box-text {
  padding: 8px 0px;
}

.hrRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;

  .hrLine {
    width: 220px;
    text-align: center;
    border-bottom: 1px solid #c5c5c5;
  }
  .hrOr {
    font-weight: 700;
    padding-left: 8px;
    padding-right: 8px;
  }
}

.otp-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 16px;
  text-align: center;
}

.textField {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 45%;
  @media (max-width: 992px) {
    width: 90%;
  }
}

.nameField {
  display: flex;
  gap: 16px;
}

.selected-flag {
  display: flex;
  align-items: center;
}

.menu-flag {
  width: 10;
  height: 10;
}

.otp-button {
  margin-bottom: 96px;
  display: flex;
  gap: 16px;
  margin-top: 16px;
}

.otp-input-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.otp-input {
  width: 40px;
  height: 60px;
  text-align: center;
  font-size: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border 0.2s;
}

.otp-input:focus { 
  border-color: #2C5B77;
  box-shadow: 0 0 5px rgba(44, 91, 119, 0.5);
}

.google-button {
  text-transform: none;
  font-size: 16px;
  padding: 0px;
  background-color: #F5F5F5;
  color: black;
  width: 45%;
}